<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Protean service API documentation</title>
    <link rel="stylesheet" href="resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="resource/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="resource/css/docs.min.css">
    <link rel="stylesheet" media="screen" href="resource/css/main.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Protean Sample Service</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">v<span id="project-version">0.8.1</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div data-sw-view="">
      View will be inserted here
    </div>
  </body>
</html>
