<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Protean service API documentation</title>
    <link rel="stylesheet" href="resource/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="resource/css/protean-sample.css">
    <link rel="stylesheet" type="text/css" href="resource/css/bootstrap-prettify.css">
    <!-- Reference microformats combined profile -->
    <link rel="profile" href="http://microformats.org/profile/specs" />
    <script type="text/javascript" src="resource/js/jquery.js"></script>
    <script type="text/javascript" src="resource/js/bootstrap.js"></script>
    <script src="resource/js/prettify/prettify.js"></script>
  </head>
  <body onload="prettyPrint();">
    <div data-sw-component="header">Placeholder for header</div>
    <br/><br/><br/>
    <div class="container">
      <div data-sw-view="">Placeholder for view</div>
      <script src="resource/js/application.js"></script>
      <div data-sw-component="footer">Placeholder for footer</div>
    </div>
  </body>
</html>
