<html>
  <body>
    <ul class="list-unstyled">
      <li>
        <section data-sw-id="id" id="blurb">
          <div class="bs-callout bs-callout-info">
            <h2>
              <span class="label label-info" data-sw-text="method">placeholder for method</span>
              &nbsp;
              <span data-sw-text="path">placeholder for path</span>
            </h2>
          </div>

          <h4>Overview</h4>
          <p data-sw-text="doc">placeholder for doc</p>

          <h4>Resource Path</h4>
          <p data-sw-text="uri">placeholder for uri</p>

          <h4>Sample Curl</h4>
          <pre data-sw-text="curl">placeholder for curll</pre>

          <h4>Sample Response</h4>
          <pre data-sw-text="sample-response">placeholder for curll</pre>
        </section>
        <br /><br />
      </li>
    </ul>
  </body>
</html>
