<html>
  <body>
    <div id="documentation" class="container">
      <div class="page-header">
        <h1>Protean Sample Service API Documentation</h1>
      </div>
      <p class="lead">Provides documentation on how to use the Protean Sample API</p>

      <section id="overview">
        <div class="page-header">
          <h2>Overview</h2>
        </div>

        <p>
          Below you will find documentation on every method / resource path combination.
        </p>
        <br /><br />
      </section>

      <div data-sw-component="toc" data-sw-source="paths">
        Placeholder for toc
      </div>

      <div data-sw-component="paths" data-sw-source="paths">
        Placeholder for paths
      </div>

    </div> <!-- end documentation container -->

  </body>
</html>
